<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Friendship Game</title>
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <div id="board-wrapper">
        <svg id="board" width="1000" height="1000" xmlns="http://www.w3.org/2000/svg">
            <use xlink:href="board-pieces.svg#frf" x="0" y="0" />
            <use xlink:href="board-pieces.svg#fffrrffrf" x="100" y="0" />
            <use xlink:href="board-pieces.svg#ffc" x="200" y="0" />
            <use xlink:href="board-pieces.svg#crf-90" x="300" y="0" />
            <use xlink:href="board-pieces.svg#cffccfccc" x="400" y="0" />
    
            <use xlink:href="board-pieces.svg#ffc" x="000" y="100" />
            <use xlink:href="board-pieces.svg#frffrffrf" x="100" y="100" />
            <use xlink:href="board-pieces.svg#fcffcffcf" x="200" y="100" />
            <use xlink:href="board-pieces.svg#frffrffrf" x="300" y="100" />
            <use xlink:href="board-pieces.svg#cff" x="400" y="100" />
    
            <use xlink:href="board-pieces.svg#cff" x="0" y="200" />
            <use xlink:href="board-pieces.svg#frffrrfff" x="100" y="200" />
            <use xlink:href="board-pieces.svg#crf" x="200" y="200" />
            <use xlink:href="board-pieces.svg#frfrirfff" x="300" y="200" />
            <use xlink:href="board-pieces.svg#crf-180" x="400" y="200" />
    
            <use xlink:href="board-pieces.svg#ffffrrfrf" x="0" y="300" />
            <use xlink:href="board-pieces.svg#frf" x="100" y="300" />
            <use xlink:href="board-pieces.svg#fffrrffrf" x="200" y="300" />
            <use xlink:href="board-pieces.svg#cff-90" x="300" y="300" />
            <use xlink:href="board-pieces.svg#cccccfcff" x="400" y="300" />
        </svg>
    </div>
    <script>
        document.querySelectorAll('#board > use').forEach(elm => {
            elm.setAttribute('width', 100);
            elm.setAttribute('height', 100);
            elm.setAttribute('x', parseInt(elm.getAttribute('x')) + 200);
            elm.setAttribute('y', parseInt(elm.getAttribute('y')) + 200);
        });
    </script>
    <script src="static/scroll.js" type="text/javascript"></script>
</body>
</html>